#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    top: 18%;
    left: 350px;
    bottom: 15%;
    display: grid;
    grid-template-areas: "login divider signup";
    grid-template-columns: 45% 10% 45%;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
    border: 10px solid purple;
    border-radius: 4rem;
    box-sizing: border-box;
}

