/* TODO Add site wide styles */
.bkgrdImgContainer {
  display: flex;
  border: none;
  size: 100% auto;
  background-size: 100% auto;
  background-image: url('./src/images/las-vegas-at-night-in-nevada.jpg');
  justify-content: space-around;
  align-items: flex-end;
  flex-flow: nowrap;
}

.leftImgContainer {
  size: 35% auto;
  background-size: 100% auto;
  background-image: url('./src/images/EWU2FGJKSDGO4SYKKZ4T37OLTE.jpg');
  border: 1px solid white;
}

.rightImgContainer {
  size: 35% auto;
  background-size: 100% auto;
  background-image: url('./src/images/shelves.jpg');
  border: 1px solid white;
}

.centerImgContainer {
  size: 35% auto;
  background-size: 100% auto;
  background-image: url('./src/images/flor-bud-maconha-baseado-bolar-bolado-1630492-pxhere.com.jpg');
  border: 1px solid white;
}
.bkgrdImgContainer {
  grid-area: "main";
  display: flex;
  border: none;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: flex-end;
  flex-flow: nowrap;
}

.background {
  width: 100%;
  height: auto;
  object-fit: cover;

}

.leftImgContainer {
  position: absolute;
  grid-area: "lfs";
  width: 28%;
  height: 100%;
  border-radius: 5em;
  -webkit-box-shadow: 0px 0px 16px 14px rgba(0,0,0,0.53); 
  box-shadow: 0px 0px 16px 14px rgba(0,0,0,0.53);
  transform: translateZ(2);
}

.rightImgContainer {
  position: absolute;
  grid-area: "rfs";
  width: 28%;
  height: auto;
  border-radius: 5em;
  -webkit-box-shadow: 0px 0px 16px 14px rgba(0,0,0,0.53); 
  box-shadow: 0px 0px 16px 14px rgba(0,0,0,0.53);
  transform: translateZ(3)
}

.centerImgContainer {
  position: absolute;
  width: 18%;
  border-radius: 5em;
  -webkit-box-shadow: 0px 0px 16px 14px rgba(0,0,0,0.53); 
  box-shadow: 0px 0px 16px 14px rgba(0,0,0,0.53);
  transform: translateZ(1);
  object-fit: contain;
}

.images{
  border-radius: 15em;
  width: 100%;
  object-fit: contain;
  -webkit-box-shadow: 0px 0px 16px 14px rgba(0,0,0,0.53); 
  box-shadow: 0px 0px 16px 14px rgba(0,0,0,0.53);
}

.gapmaker {
  height: 1500px;
}