/* TODO Add site wide styles */
.bkgrdImgContainer {
  display: flex;
  border: none;
  size: 100% auto;
  background-size: 100% auto;
  background-image: url('./src/images/las-vegas-at-night-in-nevada.jpg');
  justify-content: space-around;
  align-items: flex-end;
  flex-flow: nowrap;
}

.leftImgContainer {
  size: 35% auto;
  background-size: 100% auto;
  background-image: url('./src/images/EWU2FGJKSDGO4SYKKZ4T37OLTE.jpg');
  border: 1px solid white;
}

.rightImgContainer {
  size: 35% auto;
  background-size: 100% auto;
  background-image: url('./src/images/shelves.jpg');
  border: 1px solid white;
}

.centerImgContainer {
  size: 35% auto;
  background-size: 100% auto;
  background-image: url('./src/images/flor-bud-maconha-baseado-bolar-bolado-1630492-pxhere.com.jpg');
  border: 1px solid white;
}