.grid {
  display: grid;
  viewport-fit:inherit;
  height: 1200px;
  grid-template-areas: 
              "nav nav nav"
              "lfs main rfs"
              "lfs foot rfs";
  grid-template-columns: 1fr 7fr 2fr;
  grid-template-rows: 75px auto 150px;
}

.nav_bar {
  grid-area: nav;
  display: grid;
  grid-template-areas: "app ints navi";
  grid-template-columns: 1fr 1fr 1fr;
  background: #7E32A4;
  background: -moz-linear-gradient(-45deg, #7E32A4 0%, #A929CB 50%, #BC3DC9 100%);
  background: -webkit-linear-gradient(-45deg, #7E32A4 0%, #A929CB 50%, #BC3DC9 100%);
  background: linear-gradient(135deg, #7E32A4 0%, #A929CB 50%, #BC3DC9 100%);
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  height: 100px;
  position: fixed;
  z-index: 23;
  width: 100%;
}

.app {
  grid-area: app;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 5rem;
  letter-spacing: -1px;
  word-spacing: 2px;
  color: #d1d1d1;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px rgba(33,206,99,0.78);
  justify-self: right;
  padding-right: 50px;
}

.ints {
  display: flex;
  grid-area: ints;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.5em;
  color: #ecfceef3;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  text-shadow: 3px -8px 7px rgba(44,99,70,0.73);
  justify-content: space-around;
  align-items: center;
}

.navi {
  grid-area: navi;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  padding-left: 50px;
  align-items: center;
  flex: 1 0 auto;
}
.login_btn {
  font-size: 2rem;
  flex: 0 0 auto;
}

#drop_down.navi_btn {
  border-bottom-right-radius: 4rem;
  border-top-right-radius: 4rem;
}

#home_btn,
#new_flower {
  border-bottom-left-radius: 4rem;
  border-top-left-radius: 4rem;
}


.navi_btn {
    color: rgb(29, 16, 77); 
    font-size: 5rem; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-color: darkgray;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgba(66, 71, 69, 0.521); 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navi_btn:hover {
    background: #33A468; 
}
.navi_btn:active {
    background: #24D349; 
}

.focus {
  grid-area: main;
  height: 100%;
  width: 100%;
  display: flex;
}

.leftSB {
    grid-area: lfs;
    height: 100%;
    width: 100%;
    border: none;
}

.rightSB {
    grid-area: rfs;
    height: 100%;
    width: 100%;
    border: none;
}

.footer {
    grid-area: foot;
    background-color: black;
    color: white;
    padding: 20px;
}

.forms {
    height: 100%;
    width: 100%;
    border-radius: 12em;
    border-color:midnightblue;
    box-shadow: 2px 2px 7px 1px #191970;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    position: absolute;
}

.errorLists {
    color: red;
    z-index: 7;
}

.card {
    max-width: 750px;
    max-height: 750px;
    border-radius: 5em;
    border: 2pt solid  midnightblue;   
}

.profile-dropdown {
  position: absolute;
  background-color: darkgrey;
  top: 77px;
  display: flex;
  flex-direction: column;
  flex: 1 0 200px;
  align-items: center;
}

.profile-option {
  width: 140px;
  height: 30px;
  list-style-type: none;
  
}

.profile-button {
  width: 100%;
  /* border-radius: 2em; */
  height: 30px;
  background-color: inherit;
  border: none;
  padding-right: 50px;
  font-stretch: wider;
}