#header-nav-bar {
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: row;
    background-color: purple;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    width: 33%;
    max-width: 200px;
    justify-content: space-between;
}

/* .link-cont {
    color: white;
} */

a {
    color: greenyellow;
    font-size: 18pt;
    
}
